header {
  position: fixed;
  top: 0;
  width: 100%;
  transition: top 350ms ease-in-out, background-color 350ms ease-in-out;
  display: grid;
  grid-template-columns: 20% auto;
  background-color: $base-primary-color;
  height: 60px;
  &.transparent {
    // background-color: $base-primary-color-transparent;
  }

  a#logo {
    padding-left: 16px;
    place-self: center left;
    filter: opacity(0.38);
    transition: filter 200ms ease-in-out;
    &:hover {
      filter: opacity(1);
    }
    img {
      width: 100px;
    }
  }
  nav {
    padding-right: 16px;
    place-self: center right;
    &.show-menu ul {
      display: block;
    }
    ul {
      background-color: $base-primary-color;
      display: none;
      left: 0;
      list-style: none;
      margin: 0;
      padding: 0;
      position: absolute;
      right: 0;
      top: 60px;
      @media (min-width: $md) {
        top: 0;
        position: relative;
        display: inline-block;
      }
      li {
        padding: 8px 16px;
        @media (min-width: $md) {
          display: inline-block;
        }
        a {
          color: $base-font-color-dark-disabled;
          text-decoration: none;
          transition: color 200ms ease-in-out;
          &:link {
            color: $base-font-color-dark-disabled;
            text-decoration: none;
          }
          &:visited {
            color: $base-font-color-dark-disabled;
            text-decoration: none;
          }
          &.active {
            color: $base-font-color-dark-medium-emphasis;
          }
          &:hover {
            color: $base-font-color-dark-emphasis;
          }
          &:active {
            color: $base-font-color-dark-emphasis;
          }
        }
      }
    }
  }
}
