// Mobile-first. xs by default
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

$content-margin-xs: 16px;
$content-width-sm: 540px;
$content-width-md: 720px;
$content-width-lg: 960px;
$content-width-xl: 1140px;


$base-font-family:
  // Safari for macOS and iOS (San Francisco)
  -apple-system,
  // Chrome < 56 for macOS (San Francisco)
  BlinkMacSystemFont,
  // Windows
  "Segoe UI",
  // Android
  "Roboto",
  // Basic web fallback
  "Helvetica Neue", Arial, sans-serif,
  // Emoji fonts
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;

$base-font-size:   16px !default;
$base-font-weight: 400 !default;

$base-font-color-light-emphasis: rgba(0,0,0,0.87);
$base-font-color-light-medium-emphasis: rgba(0,0,0,0.60);
$base-font-color-light-disabled: rgba(0,0,0,0.38);

$base-font-color-dark-emphasis: rgba(255,255,255,0.87);
$base-font-color-dark-medium-emphasis: rgba(255,255,255,0.60);
$base-font-color-dark-disabled: rgba(255,255,255,0.38);

$base-font-color-dark-tinted: rgba(255,255,255,0.75);
$base-font-color-light-tinted: rgba(0,0,0,0.75);

$base-primary-color: #1E1E1E;
$base-primary-color-overlay: rgba(30, 30, 30, 0.75);
$base-primary-color-transparent: rgba(30, 30, 30, 0);

$base-secondary-color: #7FCFC3;

$base-bg-color-light: #fafbfc;