<header class="{{ page.header_class }}">
  <a id="logo" href="{{ '/' | relative_url }}"><img src="{{ '/assets/imgs/logo.svg' | relative_url }}" alt="Logo de MASB"></a>
  <nav>
    <ul>
      <li><a href="{{ '/' | relative_url }}" class="active">Inicio</a></li>
      <!-- <li><a href="{{ '/portafolio' | relative_url }}">Portafolio</a></li>
      <li><a href="{{ '/sobre-masb' | relative_url }}">Sobre MASB</a></li>
      <li><a href="{{ '/contacto' | relative_url }}">Contact</a></li> -->
    </ul>
    <button class="hamburger hamburger--squeeze" type="button" onclick="toggleMenu(this)">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>  
  </nav>
</header>