<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'es' }}">

  {%- include head.html -%}

  <body class="preload">

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    <!-- {%- include footer.html -%} -->

    <script>
      document.querySelector('body').classList.remove("preload");
    </script>
    <script src="{{ '/assets/js/navbar.js' | relative_url }}"></script>
  </body>

</html>
