<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'es' }}">

  {%- include head.html -%}

  <body class="preload">

    {%- include header.html -%}
    {{ content }}

    <!-- {%- include footer.html -%} -->

    <script>
      document.querySelector('body').classList.remove("preload");
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="{{ '/assets/js/navbar.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/scrollTo.js' | relative_url }}"></script>
  </body>

</html>
