---
layout: default
---
<div id="video-hero" class="container">
  <video autoplay muted loop id="video-hero">
    <source src="{{ '/assets/vid/cabecera-web.mp4' | relative_url }}" type="video/mp4">
  </video>
  <div class="content">
    <h1>Aprendiendo a programar microcontroladores</h1>
    <p>Nuestros estudiantes te presentan sus proyectos basados en microcontroladores para aplicaciones y sistemas
      biomédicos</p>
    <!-- <a href="{{ '/portafolio' | relative_url }}" class="btn">¡Échales un ojo!</a> -->
    <a href="javascript:void(0);" class="btn">¡Échales un ojo!</a>
  </div>
  <a href="javascript:void(0);" id="go-down" onclick="smoothScrollTo('main')">
    <img src="{{ '/assets/imgs/chevron-down.svg' | relative_url }}" alt="Ir a contenido principal">
  </a>
</div>

<main aria-label="Content">

  <div class="home container">
    {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
    {%- endif -%}

    {{ content }}

    {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
        {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
    {%- endif -%}

  </div>
</main>